@use '../_config/variables' as *;
@use '../_mixins/mixins' as *;


.wp-block-query {
  &.is-style-stagger {
    .wp-block-post-template {
      display: grid;
      grid-template-columns: repeat(6, 1fr) !important;
      gap: 32px;
    }

    .wp-block-post {
      width: auto !important;
      padding: 0;
      border-radius: 1em;
      grid-column: span 2;
      position: relative;
      a::after{
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }
@include breakpoints(xlarge,max){
    &.is-style-stagger {
      .wp-block-post {
        &:nth-child(5n + 4) {
          grid-column: 2 / span 2;
        }
      }
    }
  }

  
 @include breakpoints(xlarge){
    &.is-style-stagger {
      .wp-block-post-template {
        grid-template-columns: repeat(10, 1fr) !important;
      }

      .wp-block-post {
        grid-column: span 2;
        &:nth-child(9n + 6) {
          grid-column: 2 / span 2;
        }
      }
    }
  }
}
