.wp-block-navigation {
  .wp-block-search {
    .wp-block-search__label {
      display: none;
    }

    .wp-block-search__input {
      border: 1px solid #000;
      border-radius: 0;
      padding: 0.5rem;
      width: 100%;
    }

    .wp-block-search__button {
      background: #000;
      border: 1px solid #000;
      border-radius: 0;
      color: #fff;
      padding: 0.5rem;
    }
  }

  // align close button to the open button
  .wp-block-navigation__responsive-container-close {
    top: 12px;
  }

  .wp-block-navigation__responsive-container.is-menu-open {
    --mosne--navigation--padding-right: 6rem;
    .wp-block-navigation__responsive-container-content {
      padding-top: 90px;

      .wp-block-navigation-item {
        text-align: right;
        font-size: var(--wp--preset--font-size--large) !important;
        padding-right: var(--mosne--navigation--padding-right);
      }

      .wp-block-search {
        position: fixed;
        top: 19px;
        right: var(--mosne--navigation--padding-right);
        left: 17.8px  ;
      }
    }

  }
}
