@import '../../assets/scss/_config/variables';
@import '../../assets/scss/_mixins/mixins';

.wp-block-acf-circle {
  --wp--preset--circle-size:100px;

  .circle {
    display: block;
    background: var(--wp--preset--color--vivid-green-cyan);
    width: var(--wp--preset--circle-size);
    height: var(--wp--preset--circle-size);
    border-radius: 100%;
  }
  &.has-text-align-center .circle {
    margin: 0 auto;
  }
  &.has-text-align-right .circle {
    margin: 0 auto;
    margin-right: 0;
  }
}
