@import '../../assets/scss/_config/variables';
@import '../../assets/scss/_mixins/mixins';

.wp-block-acf-circle {
  --wp--preset--circle-size:100px;

  .circle {
    display: block;
    background: var(--wp--preset--color--vivid-green-cyan);
    width: var(--wp--preset--circle-size);
    height: var(--wp--preset--circle-size);
    border-radius: 100%;

    .aligncenter & {
      margin: 0 auto;
    }
  }
}
