@use '../../assets/scss/_config/variables' as *;
@use '../../assets/scss/_mixins/mixins' as *;

.wp-block-acf-circle {
  --wp--preset--circle-size:70px;
  color: var(--wp--preset--color--vivid-green-cyan);

  .circle {
    color: currentColor;
    display: block;
    background: currentColor;
    width: var(--wp--preset--circle-size);
    height: var(--wp--preset--circle-size);
    border-radius: 100%;

    .work-category-selected &{
      animation-name: mpulse;
      animation-duration: .8s;
      transform-origin: 50% 50%;
      animation-iteration-count: infinite;
      animation-timing-function: linear
    }
  }
  .has-text-align-center .circle,
  &.has-text-align-center .circle {
    margin: 0 auto;
  }
  .has-text-align-right .circle,
  &.has-text-align-right .circle {
    margin: 0 auto;
    margin-right: 0;
  }
  @include breakpoints(medium){
    --wp--preset--circle-size:100px;
  }
}

@keyframes mpulse {
  0% {
      transform: scale(1)
  }

  50% {
      transform: scale(.9)
  }

  100% {
      transform: scale(1)
  }
}