@charset "UTF-8";
/**
 * Breakpoints
 *
 * examples :
 *
 *      @include breakpoints(sm, md) { ... }
 *          return @media screen and (min-width: 768px) and (max-width: 1024px) { ... }
 *
 *      @include breakpoints(sm, max) { ... }
 *          return @media screen and (max-width: 767px) { ... }
 *
 *      @include breakpoints(sm) or @include breakpoints(sm, min) { ... }
 *          return @media screen and (min-width: 768px) { ... }
 *
 */
/**
 * Hover
 *
 *          Hover Active Focus pseudo selector mixin
 */
/**
 * Pager
 * generate the MMEC pager style : wp-pagenavi and facetwp pager
 *
 * exemple for wp-pagenavi :
 *		.wp-pagenavi {
 *			@include pager(
 *				".previouspostslink",
 *				".nextpostslink",
 *				".page, .current, .extend",
 *				".current",
 *				".page"
 *			);
 *		}
 */
/**
 * Reduced-motion
 *
 * exemples :
 *
 *      @include reduced-motion { ... }
 *          return @media screen and (prefers-reduced-motion : reduce) { ... }
 *
 *      you can add heavy animation using :
 *
 *      @include reduced-motion (false) { ... }
 *          return @media screen and (prefers-reduced-motion : no-preference) { ... }
 */
/*
	Improved screen reader only CSS class
    @see https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
/**
 * underline
 *
 * Animated Underline Hover
 */
.wp-block-navigation .wp-block-search .wp-block-search__label {
  display: none;
}
.wp-block-navigation .wp-block-search .wp-block-search__input {
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.5rem;
  width: 100%;
}
.wp-block-navigation .wp-block-search .wp-block-search__button {
  background: #000;
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  padding: 0.5rem;
}

.wp-block-navigation .wp-block-search .wp-block-search__label {
  display: none;
}
.wp-block-navigation .wp-block-search .wp-block-search__input {
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.5rem;
  width: 100%;
}
.wp-block-navigation .wp-block-search .wp-block-search__button {
  background: #000;
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .wp-block-cover p.has-x-large-font-size {
    max-width: 1050px;
  }
}
.prism-titlename {
  color: inherit;
  background: transparent;
  margin: 0;
}

.wp-block-button.is-style-big .wp-block-button__link {
  padding-top: min(3rem, 6vw) !important;
  padding-bottom: min(3rem, 6vw) !important;
  margin: 5px 0;
}

/*# sourceMappingURL=style.css.map */
