<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:cover {"overlayColor":"base","contentPosition":"center left","align":"wide","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
<div class="wp-block-cover alignwide has-custom-content-position is-position-center-left" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><span aria-hidden="true" class="wp-block-cover__background has-base-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.1"}},"fontSize":"x-large"} -->
<p class="has-x-large-font-size" style="line-height:1.1">Simplicity and elegance <br>— the latest possibilities of the web with genuine ux principles.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:separator {"align":"wide","backgroundColor":"white","className":"is-style-default"} -->
<hr class="wp-block-separator alignwide has-text-color has-white-color has-alpha-channel-opacity has-white-background-color has-background is-style-default"/>
<!-- /wp:separator -->

<!-- wp:heading {"align":"wide","fontSize":"medium"} -->
<h2 class="wp-block-heading alignwide has-medium-font-size">what we do</h2>
<!-- /wp:heading -->

<!-- wp:post-content {"align":"wide"} /-->

<!-- wp:separator {"align":"wide","backgroundColor":"white","className":"is-style-default"} -->
<hr class="wp-block-separator alignwide has-text-color has-white-color has-alpha-channel-opacity has-white-background-color has-background is-style-default"/>
<!-- /wp:separator -->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:paragraph -->
<p><a href="http://localhost:10008/graphic-design/" data-type="page" data-id="4347">Direction Artistique</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://localhost:10008/graphic-design/" data-type="page" data-id="4347">UX</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://localhost:10008/wordpress/" data-type="page" data-id="4349">Développent</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://localhost:10008/wordpress/" data-type="page" data-id="4349">Contribution</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://localhost:10008/woocommerce/" data-type="page" data-id="4345">e-commerce</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://localhost:10008/wordpress/" data-type="page" data-id="4349">Formation</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"align":"wide","backgroundColor":"white","className":"is-style-default"} -->
<hr class="wp-block-separator alignwide has-text-color has-white-color has-alpha-channel-opacity has-white-background-color has-background is-style-default"/>
<!-- /wp:separator -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":{"top":"0","left":"0"}},"border":{"width":"0px","style":"none"}}} -->
<div class="wp-block-columns alignwide" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:buttons {"style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-primary-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/graphic-design/" style="border-radius:100em">Graphic design</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"vivid-cyan-blue","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-vivid-cyan-blue-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/wordpress/" style="border-radius:100em">WordPress</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"vivid-purple","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-vivid-purple-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/woocommerce/" style="border-radius:100em">WooCommerce</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"align":"wide","backgroundColor":"white","className":"is-style-default"} -->
<hr class="wp-block-separator alignwide has-text-color has-white-color has-alpha-channel-opacity has-white-background-color has-background is-style-default"/>
<!-- /wp:separator -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.34%"} -->
<div class="wp-block-column" style="flex-basis:33.34%"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"luminous-vivid-orange","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-luminous-vivid-orange-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/a11y-accessibilite/" style="border-radius:100em">Aaccessibilié</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.34%"} -->
<div class="wp-block-column" style="flex-basis:33.34%"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"luminous-vivid-amber","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-luminous-vivid-amber-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/qualite-web/" style="border-radius:100em">Qualité web</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"vivid-green-cyan","textColor":"black","width":100,"style":{"border":{"radius":"100em"}},"className":"is-style-big","fontSize":"medium"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 has-custom-font-size is-style-big has-medium-font-size"><a class="wp-block-button__link has-black-color has-vivid-green-cyan-background-color has-text-color has-background wp-element-button" href="http://localhost:10008/sobriete-numerique/" style="border-radius:100em">Sobrieté numerique</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"32px"} -->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->