<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:template-part {"slug":"work-title","align":"wide"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:acf/custom-gallery {"backgroundColor":"base","name":"acf/custom-gallery","data":[],"mode":"preview","alignContent":"top"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:spacer {"height":"32px"} -->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-featured-image {"height":"","style":{"border":{"radius":"10px"}}} /-->

<!-- wp:acf/button-url {"name":"acf/button-url","mode":"preview","alignText":"left","alignContent":"top"} /-->

<!-- wp:spacer {"height":"32px"} -->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","linkLabel":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"linkLabel":true,"arrow":"arrow","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"33px"} -->
<div style="height:33px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->